.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  touch-action: none;
  user-select: none;   
}
.noUi-target {
   position: relative;
  background: transparent;
  margin: 0 10px;  
  &:before {
   content: "";
   width: calc(100% + 20px);
   height: 100%;
   background: #F7F7F7;
   position: absolute;
   top: 0;
   left: -10px;
  }
}
.noUi-base,
.noUi-connects {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.noUi-connects {
  overflow: hidden;
  z-index: 0;
}

.noUi-connect,
.noUi-origin {
  will-change: transform;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  -webkit-transform-style: preserve-3d;
  transform-origin: 0 0;
  transform-style: flat;
}

.noUi-horizontal .noUi-origin {
  height: 0;
}

.noUi-touch-area {
  height: 100%;
  width: 100%;
}
.noUi-horizontal {
  height: 4px;
}

.noUi-horizontal .noUi-handle {
  right: -10px;
  top: -8px;
}

.noUi-connect {
  background: $blue;
}

.noUi-handle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  backface-visibility: hidden;
  position: absolute;
}
.noUi-handle-lower,
.noUi-handle-upper {
 background: $blue;
 &:after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ffffff;
  position: absolute;
  top: 5px;
  left: 5px;
 }
}
.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
 -webkit-transition: transform 0.3s;
 transition: transform 0.3s;
}
.noUi-state-drag * {
 cursor: inherit !important;
}
[disabled].noUi-target,
[disabled].noUi-handle,
[disabled] .noUi-handle {
  cursor: not-allowed;
}