.info-block {
    padding: 12px;
    border-radius: 16px;
    background: $light-blue;
    .read-more {
        margin-top: 8px;
        &__btns{
            margin-bottom: 6px;
        }
        &.more-hidden {
            .read-more__content {
                display: none;
            }
        }
    }
    &__top {
        display: grid;
        grid-template-columns: 47px 1fr;
        align-items: start;
        gap: 12px;
        & > * {
            align-self: center;
            margin: 0!important;
        }
        h6 {
            font-weight: 600;
            align-self: center;
        }
    }
    &__icon {
        align-self: start;
        height: 47px;
        padding: 13.5px;
        border-radius: 8px;
        background: $white;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &__content {
        padding-left: 59px;
        margin-top: 12px;
        p, h6 {
            margin-bottom: 4px;
        }
        p + h6 {
            margin-top: 12px;
        }
        & > *:last-child {
            margin-bottom: 0;
        }
    }

}
.product {
    margin-top: 10px;
    margin-bottom: 60px;
    .info-block {       
        padding: 8px;
        margin-top: 20px;
        p {
            font-size: 12px;
            font-weight: 400;
            max-width: 373px;
        }
    }
    .quantity {
        button {
            flex: 0 0 46px;
            width: 0 0 46px;
            height: 46px;
        }
        &__count {
            font-size: 14px;
        }
    }
    &__main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr;
        gap: 0 10px;
        align-items: start;
    }
    &__top {
        padding-bottom: 16px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        position: relative;
        margin-bottom: 0;
        h1 {
            margin-bottom: 0;
        }
        &::after {
            content: "";
            display: block;
            background: $white;
            position: absolute;
            height: 32px;
            bottom: -16px;
            width: 100%;
            left: 0;
        }
        .btn {
            font-size: 14px;
            padding: 8px 12px;
            border-radius: 100px;
        }
    }
    &__body {
        padding-top: 16px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    &__header {
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: start;
        gap: 10px;
        margin-bottom: 20px;
    }
    &__header-left {
        align-self: center;
        display: flex;
        flex-wrap: wrap;
        margin: -5px;
        word-break: normal;
        span, .btn {
            margin: 5px;
        }
    }
    &__preview {
        grid-area: 1/1/3/2;
        padding: 70px 48px!important;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        img {
            width: 100%;
            height: 100%;
            max-height: 420px;
            object-fit: contain;
        }
        .card-lbls {
            position: absolute;
            top: 24px;
            left: 24px;
            right: 24px;
        }
    }
    &__fav {
        width: 48px;
        height: 48px;
        padding: 12px;
        border-radius: 12px;
        background: #F7F7F7;
        svg,path {
            fill: #F7F7F7;
            stroke: $gray;
        }
    }
    &__bonus {
        font-size: 14px;
        font-weight: 500;
        color: $pink;
        padding: 11.5px 15px 11.5px 38px;
        border-radius: 100px;
        background:url(../img/icons/bonus.svg) center left 15px / 17px 17px no-repeat, rgba($pink, .1);
    }
    &__det {
        margin-bottom: 32px;
        p {
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 20px;
        }
        ul {
            li {
                font-size: 14px;
                font-weight: 500;
                color: $gray;
                width: 100%;
                padding-bottom: 8px;
                border-bottom: 1px solid #F7F7F7;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 12px;
                span {
                    color: $maincolor;
                    margin-left: 10px;
                }
                &:last-child {
                    border-bottom: 0;
                }
            }
        }
        a {
            font-size: 16px;
            font-weight: 500;
            color: $blue;
            margin-bottom: 20px;
        }
    }
    &__price {
        display: flex;
        align-items: center;
        margin-bottom: 32px;
        .h2 {
            font-size: 32px;
            font-weight: 600;
        }
        .h5 {
            font-size: 20px;
            color: $gray;
            margin: 0 8px;
        }
    }
    &__discount {
        font-size: 16px;
        font-weight: 500;
        color: $white;
        padding: 3px 10px;
        border-radius: 100px;
        background: $blue;
    }
    &__action {
        .quantity {
            display: none;
        }
        &.in-card {
            .product__btns {
                display: none;
            }
            .quantity {
                display: flex;
            }
        }
    }
    &__btns {
        display: flex;
        flex-wrap: wrap;
        margin: -5px;
        .btn {
            flex: 1;
            margin: 5px;
            white-space: nowrap;
        }
    }
    @media (max-width: $bp1) {
        .info-block {
            margin-top: 32px;
            p {
                max-width: 300px;
            }
        }
        &__preview {
            img {
                max-height: 350px;
            }
            .card-lbls {
                top: 20px;
                left: 20px;
            }
        }
        &__top {
            padding-bottom: 15px;
            &::after {
                height: 30px;
                bottom: -15px;
            }
        }
        &__body {
            padding-top: 15px;
        }
    }
    @media (max-width: $bp2) {
        .info-block {
            margin-top: 24px;
        }
        &__top {
            padding-bottom: 16px;
            &:after {
                height: 24px;
                bottom: -12px;
            }
        }
        &__body {
            padding-top: 16px;
        }
        &__price{
            margin-bottom: 24px;
        }
        &__det {
            margin-bottom: 24px;
            ul li {
                margin-bottom: 10px;
            }
        }
    }
    @media (max-width: $bp4) {
        padding: 0 10px;
        &__main {
            display: block;
        }
        &__body {
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }
        &__top {
            border-radius: 20px;
            margin-bottom: 10px;
            &:after {
                display: none;
            }
        }
    }
}
.info-product {
    p, li, & > a {
        font-size: 16px;
    }
}