.profile-aside {
    &__top {
        min-height: 202px;
        padding: 12px;
        margin: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 12px;
        border: 1px solid #F7F7F7;
        h5 {
            font-size: 18px;
            max-width: 200px;
            margin-bottom: 12px;
        }
        span {
            font-size: 14px;
            color: $gray;
        }
    }
    @media (max-width: $bp3) {
        max-width: 370px;
        margin: 0 auto;
        &__top {
            min-height: 103px;
        }
    }
}
.profile-out {
    color: $red !important;
    background: transparent !important;
    svg {
        fill: $red !important;
    }
}
.profile-bonus {
    min-height: 137px;
    padding: 16px;
    border-radius: 20px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    h5 {
        font-size: 18px;
        color: $white;
    }
    .media-cover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    &__top {
        display: grid;
        grid-template-columns: 47px 1fr;
        gap: 16px;
        align-items: center;
        .h2 {
            font-weight: 600;
            color: $white;
        }
    }
    &__icon {
        padding: 13px;
        border-radius: 8px;
        background: $white;
    }
    @media (max-width: $bp2) {
        &__top {
            grid-template-columns: 43px 1fr;
            .h2 {
                font-size: 24px;
            }
        }
        &__icon {
            padding: 11px;
        }
    }
    @media (max-width: $bp3) {
        min-height: 112px;
        margin-top: 10px;
        &__top {
            .h2 {
                font-size: 28px;
            }
        }
    }
}
.profile-p {
    .section-top {
        align-items: center;
        padding-bottom: 20px;
        border-bottom: 1px solid #F7F7F7;
        h3 {
            margin-right: 10px;
        }
    }
    &__items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
    &__sec {
        h5 {
            margin-bottom: 16px;
        }
    }
    @media (max-width: $bp2) {
        &__sec {
            h5 {
                font-size: 16px;
            }
        }
    }
    @media (max-width: $bp4) {
        .section-top {
            margin-bottom: 20px;
        }
    }
    @media (max-width: $bp5) {
        &__items {
            grid-template-columns: 1fr;
        }
    }
    @media (max-width: $bp7) {
        .section-top {
            align-items: flex-start;
            flex-direction: column;
            .btn {
                margin-top: 16px;
            }
        }
    }
}
.edu-profile {
    label {
        display: flex;
    }
    .file-form {
        &__item {
            border: 1px solid $blue;
            .media-contain {
                height: 100%;
            }
        }
        &__del {
            width: 20px;
            height: 20px;
            padding: 5px;
            border-radius: 50%;
            background: $blue;
            position: absolute;
            top: 11px;
            right: 11px;
            z-index: 1;
            svg {
                fill: $white;
                width: 100%;
                height: 100%;
            }
        }
        &__items {
            display: flex;
            flex-wrap: wrap;
            margin: -10px;
        }
    }
    &__add, .file-form__item {
        flex: 0 0 145px;
        width: 145px;
        height: 200px;
        position: relative;
        margin: 10px;
        border-radius: 12px;
        overflow: hidden;
        .media-contain {
            width: 100%;
        }
    }
    &__add {
        background: #F7F7F7;
        svg {
            stroke: #E2E1E3;
            width: 44px;
            height: 44px;
            margin: auto;
        } 
    }
    @media (max-width: $bp5) {
        &__items {
            margin: -5px;
        }
        &__add, .file-form__item {
            flex: 0 0 93px;
            width: 93px;
            height: 127px;
            margin: 5px;
        }
        &__add {
            svg {
                width: 30px;
                height: 30px;
            } 
        }
    }
}
.settings-p {
    .form {
        max-width: 438px;
        .main-btn {
            width: 100%;
        }
    }
}
.messages-top {
    h1 {
        margin: 0 8px 4px 0;
    }
    p {
        font-size: 14px;
        color: $gray;
        flex: 1 1 100%;
        margin-top: 4px;
    }
    &__status {
        font-size: 12px;
        font-weight: 600;
        padding: 3px 10px;
        border-radius: 20px;
        color: $blue;
        background: rgba($blue, 0.1);
        margin-bottom: 4px;
    }
    &__info {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    @media (max-width: $bp3) {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        box-shadow: 0 0 18px 0 rgba(204, 204, 204, .18);
        background: #fff;
        &__inner {
            padding: 20px 10px 20px 30px;
            max-width: 761px;
            margin: 0 auto;
            position: relative;
        }
        h1 {
            font-size: 16px!important;
            flex: 1 1 auto;
            text-align: center;
            margin-bottom: 0;
            span {
                display: block;
            }
        }
        p {
            display: none;
        }
        .back-btn {
            font-size: 0;
            position: absolute;
            top: 50%;
            left: 10px;
            transform: translateY(-50%);
            margin-bottom: 0;
            svg {
                stroke: $gray;
                margin-right: 0;
            }
        }
        &__status {
            margin-bottom: 0;
        }
    }
    @media (max-width: $bp4) {
        &__inner {
            max-width: 630px;
        }
    }
    @media (max-width: $bp5) {
        &__inner {
            max-width: 480px;
        }
    }
}
.col-messages {
    padding: 24px;
    &__inner {
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 10px;
        align-items: center;
        .main-btn {
            min-width: 175px;
        }
    }
    &__info {
        p {
            font-size: 14px;
            color: $gray;
        }        
    }
    &__top {
        display: flex;
        align-items: center;
        margin: -4px -4px 4px;
        h5 {
            margin: 4px;
        }

    }
    &__status, &__noty {
        font-size: 12px;
        font-weight: 600;
        padding: 3px 10px;
        border-radius: 20px;
        white-space: nowrap;
        margin: 4px;
    }
    &__status {
        &.open {
            color: $blue;
            background: rgba($blue, 0.1);
        }
        &.close {
            color: $green;
            background: rgba($green, 0.1);
        }
    }
    &__noty {
        &.unread {
            color: #F4771C;
            background: rgba(#F4771C, 0.1)
        }
        &.read {
            color: $gray;
            background: #F7F7F7;
        }
    }
    @media (max-width: $bp2) {
        padding: 20px;
        &__top {
            flex-wrap: wrap;
            h5 {
                flex: 1 1 100%;
            }
        }
    }
    @media (max-width: $bp3) {
        &__inner {
            display: block;
            .main-btn {
                min-width: 143px;
                margin-top: 20px;
            }
        }
    }
    @media (max-width: $bp7) {
        &__top {
            flex-direction: column;
            align-items: flex-start;
        }
    }
}
.messages-p {
    .custom-scroll {
        max-height: 525px;
        padding-right: 20px;
        overflow: auto;
        &::-webkit-scrollbar {
          width: 4px;
          border-radius: 100px;
          background-color: #F7F7F7;
        }
        &::-webkit-scrollbar-thumb {
            width: 4px;
          background-color: #1573FF;
          border-radius: 100px;
        } 
    }
    &__top {
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 10px;
        align-items: center;
    }
    &__items {
       display: flex;
       flex-direction: column;
    }
    &__date {
        font-size: 14px;
        font-weight: 500;
        color: $gray;
        text-align: center;
        margin-bottom: 20px;
    }
    &__bottom {
        padding-top: 20px;
        border-top: 1px solid #F7F7F7;
        margin-top: 20px;
    }
    @media (max-width: $bp2) {
        &__date {
            margin-top: 10px;
        }
    }
    @media (max-width: $bp3) {
        padding: 0 10px;
        .custom-scroll {
            padding-right: 0;
            max-height: none;
            overflow: visible;
        }
        .send-form {
            textarea {
                max-height: calc(100vh - 200px);
                overflow: auto;
                &::-webkit-scrollbar {
                    display: none;
                    width: 0;
                    height: 0;
                }
            }
        }
        &__bottom {
            padding-top: 2px;
            padding-bottom: 20px;
            border-top: 0;
            margin-top: 0;
            background: #fefefe;
            position: sticky;
            bottom: 0;
            left: 0;
            width: 100%;
        }
    }
}
.item-message {
    min-width: 40%;
    max-width: 65.26%;
    padding: 16px 24px;
    border-radius: 20px;
    margin-bottom: 20px;
    p {
        line-height: 1.4;
    }
    &.is-out {
        background: $light-blue;
        margin-left: auto;
    }
    &.is-in {
        background: #F7F7F7;
    }
    &__time {
        font-size: 14px;
        font-weight: 500;
        color: $gray;
        display: block;
        text-align: right;
        margin-top: 4px;
    }
    @media (max-width: $bp1) {
        min-width: 46%;
        max-width: 75.6%;
    }
    @media (max-width: $bp2) {
        padding: 16px;
        margin-bottom: 10px;
    }
    @media (max-width: $bp3) {
        max-width: 89%;
        padding: 12px 16px;
    }
}
.send-form {
    padding: 12px;
    display: grid;
    grid-template-columns: 1fr 40px;
    align-items: end;
    gap: 16px;
    border-radius: 12px;
    background: #F7F7F7;
    textarea, textarea::placeholder {
        font-size: 16px;
        font-weight: 500;
    }
    textarea {
        height: 20px;
        max-height: 200px;
    }
    .btn {
        height: 40px;
        padding: 11px;
        border-radius: 8px;
        background: $blue;
        svg {
            fill: $white;
            width: 100%;
            height: 100%;
        }
    }
    &__txt {
        min-height: 40px;
        display: flex;
        align-items: center;
    }
    @media (max-width: $bp2) {
        padding: 4px 4px 4px 16px;
        grid-template-columns: 1fr 31px;
        gap: 10px;
        border-radius: 8px;
        textarea {
            height: 22px;
        }
        .btn {
            height: 31px;
            padding: 8px;
            border-radius: 6px;
        }
        &__txt {
            min-height: 31px;
        }
    }
}
.item-hist {
    padding: 24px;
    &__header, &__main {
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
        gap: 24px;
    }
    &__header {
        svg {
            width: 24px;
            height: 24px;
            stroke: $gray;
            transition: all .3s linear;
        }
        &.open {
            svg {
                stroke: $blue;
                transform: rotate(180deg);
            }
        }
    }
    &__info {
        display: flex;
        align-items: center;
        h5 {
            margin-right: 16px;
            margin-bottom: 4px;
        }
    }
    &__status {
        font-size: 12px;
        font-weight: 600;
        padding: 3px 10px;
        border-radius: 20px;
        margin-bottom: 4px;
        white-space: nowrap;
        &.received {
            color: $green;
            background: rgba($green, 0.1);
        }
        &.canceled {
            color: $red;
            background: rgba($red, 0.1);
        }
    }
    &__nmb {
        font-size: 14px;
        color: $blue;
        margin-top: 4px;
    }
    &__totalprice {
        font-size: 24px;
        font-weight: 600;
    }
    &__body, &__cols {
        padding-top: 20px;
        border-top: 1px solid #F7F7F7;
        margin-top: 20px;
    }
    &__details {
        display: grid;
        grid-template-columns: 1.2fr 1fr 1.2fr;
        gap: 10px;
    }
    &__det {
        span {
            font-size: 16px;
            font-weight: 500;
            display: block;
            margin-bottom: 8px;
            &:last-child {
                margin-bottom: 0
            }
        }
        span:first-child {
            font-size: 14px;
            color: $gray;
        }
    }
    &__btn {
        font-size: 14px;
        font-weight: 500;
        color: $blue;
        display: inline-flex;
        align-items: center;
        margin-top: 20px;
        svg {
            stroke: $blue;
            flex: 0 0 20px;
            width: 20px;
            height: 20px;
            margin-right: 4px;
        }
    }
    @media (max-width: $bp1) {
        &__details {
            grid-template-columns: 1.5fr 1.3fr 1fr;
        }
    }
    @media (max-width: $bp2) {
        padding: 20px;
    }
    @media (max-width: $bp4) {
        &__details {
            grid-template-columns: 1fr;
            gap: 16px;
        }
    }
    @media (max-width: $bp5) {
        &__main {
            grid-template-columns: 1fr;
            gap: 8px;
        }
    }
    @media (max-width: $bp7) {
        &__info {
            flex-direction: column;
            align-items: flex-start;
        }
    }
}
.col-history {
    display: grid;
    grid-template-columns: 81px 1fr;
    align-items: center;
    gap: 24px;
    &__preview {
        height: 100px;
        padding: 10px;
        border-radius: 12px;
        background: #fafafa;
        .media-contain {
            height: 100%;
            mix-blend-mode: darken;
            transform: translate3d(0, 0, 0);
        }
    }
    &__content {
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 24px;
        align-items: center;
    }
    &__info {
        h5 {
            font-size: 12px;
            line-height: 1.4;
            color: $maincolor;
        }
        span {
            font-size: 12px;
            color: $gray;
        }
    }
    &__price {
        font-weight: 600;
        color: $maincolor;
    }
    @media (max-width: $bp4) {
        gap: 10px;
        &__content {
            grid-template-columns: 1fr;
            gap: 12px;
        }
    }
}
.page-acc {
    @media (max-width: $bp3) {
        .page__content {
            display: none;
        }
    }
}
.wrap.wrap--profile {
    @media (max-width: $bp3) {
        .header, .footer, .breadcrumbs, .page__aside, .fixed-menu {
            display: none;
        }
        .page {
            height: 100vh;
            min-height: 400px;
            padding-top: 64px;
            overflow: hidden;
        }
        .page__top {
            padding: 0 10px;
            border-radius: 0;
            box-shadow: none;
            background: #fefefe;
            h1 {
                font-size: 20px;
            }
            &.shadow-block {
                margin-bottom: 0;
            }
        }
        .cat-top {
            margin-bottom: 15px;
        }
        .page__content {
            height: 100%;
            overflow: auto;
            padding: 20px 0 0;
            &::-webkit-scrollbar {
                display: none;
                width: 0;
                height: 0;
            }
        }
        .page__content.shadow-block {
            padding: 20px 0 0;
            border-radius: 0;
            background: transparent;
            box-shadow: none;
            margin-bottom: 0;
        }
        .section {
            margin-bottom: 0;
            padding-bottom: 60px;
        }
        .section.shadow-block {
            padding: 0 20px 60px;
            border-radius: 0;
            background: transparent;
            box-shadow: none;
        }
    }
    @media (max-width: $bp4) {
        .cat-top__btn {
            padding: 2px 20px 20px;
            background: #fefefe;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            margin: 0;
            .btn {
                width: 100%;
                max-width: 630px;
                margin: 0 auto;
            }
        }
    }
    @media (max-width: $bp5) {
        .cat-top__btn .btn {
            max-width: 480px;
        }
    }
}
.back-top {
    .back-btn, .btn-close {
        display: none;
    }
    &__inner {
        & > *:last-child {
            margin-bottom: 0;
        }
    }
    @media (max-width: $bp3) {
        min-height: 63px;
        box-shadow: 0 0 18px 0 rgba(204, 204, 204, .18);
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        background: #fff;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1;
        h1, .h1 {
            font-size: 20px;
            margin-bottom: 0;
        }
        .back-btn {
            display: block;
            margin-bottom: 0;
            position: absolute;
            top: 50%;
            left: 10px;
            transform: translateY(-50%);
            svg {
                stroke: $gray;
                margin-right: 0;
            }
        }
        .btn-close {
            display: block;
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            svg {
                fill: $gray;
            }
        }
        &__inner {
            max-width: 761px;
            padding: 20px 30px;
            text-align: center;
            margin: 0 auto;
            position: relative;
        }
    }
    @media (max-width: $bp4) {
        &__inner {
            max-width: 630px;
        }
    }
    @media (max-width: $bp5) {
        &__inner {
            max-width: 480px;
        }
    }
}






