:root {--vh: 1%}
$bp1: 1400.98px;
$bp2: 1250.98px;
$bp3: 991.98px;
$bp4: 767.98px;
$bp5: 575.98px;
$bp6: 480.98px;
$bp7: 374.98px;
$maincolor: #0D0C1A;
$blue: #1573FF;
$light-blue: #EEF5FF;
$dark-blue: #0E6AF3;
$yellow: #FEC33B;
$green: #00CD52;
$dark-gray: rgba(13, 12, 26, .5);
$gray: #9B9B9B;
$light-bg: #fefefe;
$white: #FFFFFF;
$black: #000000;
$red: #F4371C;
$pink: #FF1D61

