@@if (main === true) {
    <header class="header header--main">
}
@@if (main === false) {
    <header class="header">
}
    <div class="header__inner">
        <div class="header__top">
            <div class="container">
                <div class="header__links">
                    <button class="header__priceBtn mod-open-btn" data-modal="price-modal">Запросить прайс-лист</button>
                    <a href="#" class="header__priceBtn mod-open-btn header__link header__link-desc" data-modal="price-modal">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.66634 1.33325C4.17301 1.33325 1.33301 4.17325 1.33301 7.66659C1.33301 11.1599 4.17301 13.9999 7.66634 13.9999C11.1597 13.9999 13.9997 11.1599 13.9997 7.66659C13.9997 4.17325 11.1597 1.33325 7.66634 1.33325ZM7.66634 9.16659H5.66634C5.39301 9.16659 5.16634 8.93992 5.16634 8.66659C5.16634 8.39325 5.39301 8.16659 5.66634 8.16659H7.66634C7.93967 8.16659 8.16634 8.39325 8.16634 8.66659C8.16634 8.93992 7.93967 9.16659 7.66634 9.16659ZM9.66634 7.16659H5.66634C5.39301 7.16659 5.16634 6.93992 5.16634 6.66659C5.16634 6.39325 5.39301 6.16659 5.66634 6.16659H9.66634C9.93967 6.16659 10.1663 6.39325 10.1663 6.66659C10.1663 6.93992 9.93967 7.16659 9.66634 7.16659Z" fill="#1573FF"/>
                            <path d="M14.2007 14.6656C14.0807 14.6656 13.9607 14.619 13.874 14.5323L12.634 13.2923C12.454 13.1123 12.454 12.819 12.634 12.6323C12.814 12.4523 13.1074 12.4523 13.294 12.6323L14.534 13.8723C14.714 14.0523 14.714 14.3456 14.534 14.5323C14.4407 14.619 14.3207 14.6656 14.2007 14.6656Z" fill="#1573FF"/>
                        </svg>
                        <span>Проверка коллагена</span>
                    </a>
                    <a href="#" class="header__priceBtn mod-open-btn header__link header__link-mobile" data-modal="price-modal">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11.2194 10.4268C11.6661 10.1334 12.2528 10.4534 12.2528 10.9868V11.8468C12.2528 12.6934 11.5928 13.6001 10.7994 13.8668L8.67276 14.5734C8.29943 14.7001 7.69276 14.7001 7.32609 14.5734L5.19943 13.8668C4.39943 13.6001 3.74609 12.6934 3.74609 11.8468V10.9801C3.74609 10.4534 4.33276 10.1334 4.77276 10.4201L6.14609 11.3134C6.67276 11.6668 7.33943 11.8401 8.00609 11.8401C8.67276 11.8401 9.33943 11.6668 9.86609 11.3134L11.2194 10.4268Z" fill="#1573FF"/>
                            <path d="M13.319 4.30679L9.3257 1.68679C8.6057 1.21345 7.41904 1.21345 6.69904 1.68679L2.6857 4.30679C1.39904 5.14012 1.39904 7.02679 2.6857 7.86679L3.75237 8.56012L6.69904 10.4801C7.41904 10.9535 8.6057 10.9535 9.3257 10.4801L12.2524 8.56012L13.1657 7.96012V10.0001C13.1657 10.2735 13.3924 10.5001 13.6657 10.5001C13.939 10.5001 14.1657 10.2735 14.1657 10.0001V6.72012C14.4324 5.86012 14.159 4.86012 13.319 4.30679Z" fill="#1573FF"/>
                        </svg>
                        <span>Учебный центр</span>
                    </a>
                </div>
                <div class="header__contacts">
                    <a href="tel:84959891819">+7 495 989-18-19</a>
                    <a href="tel:88003331819">8 800 333-18-19</a>
                </div>
                <div class="header__social">
                    <a href="#" target="_blank" class="header__social-icon-tg"><span>Telegram</span> <img src="img/logo/telegram-header.svg" alt="Telegram"></a>
                    <a href="#" target="_blank" class="header__social-icon-wp"><span>WhatsApp</span> <img src="img/logo/whatsapp-header.svg" alt="WhatsApp"></a>
                </div>
            </div>
        </div>
        <div class="header__bottom">
            <div class="container">
                <div class="header__left">
                    <div class="icon-menu icon-menu--mob">
                        <div class="icon-menu__items">
                            <span class="icon-menu__item" style="--icon-i: 1"></span>
                            <span class="icon-menu__item" style="--icon-i: 2"></span>
                            <span class="icon-menu__item" style="--icon-i: 3"></span>
                            <span class="icon-menu__cross1" style="--icon-i: 4"></span>
                            <span class="icon-menu__cross2" style="--icon-i: 5"></span>
                        </div>
                    </div>
                    <a href="#" class="header__logo"><img src="img/logo/logo.svg" alt="Логотип"></a>      
                    <div class="header__about">
                        <span>Магазин для кометологов</span>
                        <span>Доставка по всей России</span>
                    </div>
                </div>
                <div class="header__center">
                    <div class="menu menu--desktop">
                        <div class="icon-menu">
                            <div class="icon-menu__items">
                                <span class="icon-menu__item" style="--icon-i: 1"></span>
                                <span class="icon-menu__item" style="--icon-i: 2"></span>
                                <span class="icon-menu__item" style="--icon-i: 3"></span>
                                <span class="icon-menu__cross1" style="--icon-i: 4"></span>
                                <span class="icon-menu__cross2" style="--icon-i: 5"></span>
                            </div>
                            <div class="icon-menu__txt">Меню</div>
                        </div>
                        <div class="menu__inner">
                            <nav>
                                <ul class="menu__list">
                                    <li>
                                        <div class="menu__header">Покупателю<svg><use xlink:href="img/icons/sprite.svg#btn-next"></use></svg></div>
                                        <div class="menu__dropdown">
                                            <ul>
                                                <li><a href="#">Оплата</a></li>
                                                <li><a href="#">Доставка</a></li>
                                                <li><a href="#">Гарантии</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li><a href="#" class="menu__header">Поставщикам</a></li>
                                    <li><a href="#" class="menu__header">Отзывы</a></li>
                                    <li><a href="#" class="menu__header">Новости</a></li>
                                    <li><a href="#" class="menu__header menu__header-icon">
                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="#1573FF" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.66671 1.33325C4.17337 1.33325 1.33337 4.17325 1.33337 7.66659C1.33337 11.1599 4.17337 13.9999 7.66671 13.9999C11.16 13.9999 14 11.1599 14 7.66659C14 4.17325 11.16 1.33325 7.66671 1.33325ZM7.66671 9.16659H5.66671C5.39337 9.16659 5.16671 8.93992 5.16671 8.66659C5.16671 8.39325 5.39337 8.16659 5.66671 8.16659H7.66671C7.94004 8.16659 8.16671 8.39325 8.16671 8.66659C8.16671 8.93992 7.94004 9.16659 7.66671 9.16659ZM9.66671 7.16659H5.66671C5.39337 7.16659 5.16671 6.93992 5.16671 6.66659C5.16671 6.39325 5.39337 6.16659 5.66671 6.16659H9.66671C9.94004 6.16659 10.1667 6.39325 10.1667 6.66659C10.1667 6.93992 9.94004 7.16659 9.66671 7.16659Z"/>
                                            <path d="M14.2003 14.6656C14.0803 14.6656 13.9603 14.619 13.8737 14.5323L12.6337 13.2923C12.4537 13.1123 12.4537 12.819 12.6337 12.6323C12.8137 12.4523 13.107 12.4523 13.2937 12.6323L14.5337 13.8723C14.7137 14.0523 14.7137 14.3456 14.5337 14.5323C14.4403 14.619 14.3203 14.6656 14.2003 14.6656Z"/>
                                        </svg>
                                        <span>Проверка коллагена</span>                                            
                                    </a></li>
                                    <li><a href="#" class="menu__header">Контакты</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    @@if(search === true) {
                        @@include("_search.html", {"results": true})
                    }
                    @@if(search === false) {
                        @@include("_search.html", {"results": false})
                    }
                </div>
                <div class="header__right">
                    <a href="#" class="js-fav-main"><svg><use xlink:href="img/icons/sprite.svg#fav"></use></svg><span>7</span></a>
                    <a href="#" class="js-cart-main"><svg><use xlink:href="img/icons/sprite.svg#cart"></use></svg><span></span></a>
                    <!--<button class="btn main-btn header__profile mod-open-btn" data-modal="acc-modal">Войти</button>-->
                    <a href="#" class="header__profile--link"><svg><use xlink:href="img/icons/sprite.svg#profile"></use></svg><span></span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="mob-menu">
        <button class="btn-close"><svg><use xlink:href="img/icons/sprite.svg#close"></use></svg></button>
        <div class="mob-menu__inner">
            <div class="menu">
                <div class="menu__inner">
                    <nav>
                        <ul class="menu__list">
                            <li class="menu__item">
                                <div class="menu__header">Покупателю<svg><use xlink:href="img/icons/sprite.svg#btn-next"></use></svg></div>
                                <div class="menu__dropdown">
                                    <ul>
                                        <li><a href="#">Оплата</a></li>
                                        <li><a href="#">Доставка</a></li>
                                        <li><a href="#">Гарантии</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="menu__item"><a href="#" class="menu__header">Поставщикам</a></li>
                            <li class="menu__item"><a href="#" class="menu__header">Отзывы</a></li>
                            <li class="menu__item"><a href="#" class="menu__header">Новости</a></li>
                            <li><a href="#" class="menu__header menu__header-icon">
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="#1573FF" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M7.66671 1.33325C4.17337 1.33325 1.33337 4.17325 1.33337 7.66659C1.33337 11.1599 4.17337 13.9999 7.66671 13.9999C11.16 13.9999 14 11.1599 14 7.66659C14 4.17325 11.16 1.33325 7.66671 1.33325ZM7.66671 9.16659H5.66671C5.39337 9.16659 5.16671 8.93992 5.16671 8.66659C5.16671 8.39325 5.39337 8.16659 5.66671 8.16659H7.66671C7.94004 8.16659 8.16671 8.39325 8.16671 8.66659C8.16671 8.93992 7.94004 9.16659 7.66671 9.16659ZM9.66671 7.16659H5.66671C5.39337 7.16659 5.16671 6.93992 5.16671 6.66659C5.16671 6.39325 5.39337 6.16659 5.66671 6.16659H9.66671C9.94004 6.16659 10.1667 6.39325 10.1667 6.66659C10.1667 6.93992 9.94004 7.16659 9.66671 7.16659Z"/>
                                    <path d="M14.2003 14.6656C14.0803 14.6656 13.9603 14.619 13.8737 14.5323L12.6337 13.2923C12.4537 13.1123 12.4537 12.819 12.6337 12.6323C12.8137 12.4523 13.107 12.4523 13.2937 12.6323L14.5337 13.8723C14.7137 14.0523 14.7137 14.3456 14.5337 14.5323C14.4403 14.619 14.3203 14.6656 14.2003 14.6656Z"/>
                                </svg>
                                <span>Проверка коллагена</span>                                            
                            </a></li>
                            <li class="menu__item"><a href="#" class="menu__header">Контакты</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="header__social">
                <a href="#" target="_blank" class="header__social-icon-wp">WhatsApp <img src="img/logo/whatsapp-header.svg" alt="WhatsApp"></a>
                <a href="#" target="_blank" class="header__social-icon-tg">Telegram <img src="img/logo/telegram-header.svg" alt="Telegram"></a>
            </div>
            <div class="header__contacts">
                <a href="tel:84959891819">+7 495 989-18-19</a>
                <a href="tel:88003331819">8 800 333-18-19</a>
            </div>
            <button class="header__priceBtn mod-open-btn" data-modal="price-modal">Запросить прайс-лист</button>
        </div>
    </div>
</header>