@@if ( catalog === true) {
    <a href="#" class="cat-btn" onclick="event.preventDefault();showMore()">Показать еще 100</a>
}
@@if ( catalog === false) {
    <a href="#" class="cat-btn">Показать еще 100</a>
}
<!--pagination-->
<nav class="pagination">
    <a class="nav-btn" href="#"><svg><use href="img/icons/sprite.svg#btn-prev"></use></svg></a>
    <a class="pagination__link" href="#">1</a>
    <a class="pagination__link current" href="#">2</a>
    <a class="pagination__link" href="#">3</a>
    <a class="pagination__link" href="#">4</a>
    <span class="pagination__item">...</span>
    <a class="pagination__link" href="#">11</a>
    <a class="nav-btn" href="#"><svg><use href="img/icons/sprite.svg#btn-next"></use></svg></a>
</nav>